html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #cecec6;
}

header {
    background-color: #4a94e2;
    border: yellowgreen 10px solid;
}

nav {
    border: blueviolet 5px dashed;
    margin: 0 0 0 15px;
    padding-top: 20px;
    
}

nav li {
    display: inline;

}

nav a {
    color: yellow;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;

}

nav a:hover {
    color:brown;
}

nav a:visited {
    color: navy;
}

li::marker {
    content: "\2797";
    color:aqua;
    font-size: 20px;
}

h1 {
    color: #4a94e2;
    text-align: center;
    font-size: 35px;
}
h2 {
    color: #301ac4;
}
p {
    color:  #2f74c8;

}

h1, h2, h3, p, ul, il {
    padding: 5px;
    margin: 5px;
}

#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}

.texto-principal {
    margin-right: 20%; 
}

.itens {
	color: blue;
	text-decoration: underline;
}
