body {
  background-color: #cecec6;
  padding: 0 0px;
  height: 300vh;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 70px;
  right: 0;
}

header {
  position: sticky;
  background: #4a94e2;
  padding: 20px 0;
  top: 0;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px,
}

nav a {
  text-transform: uppercase;
  color:#cbcbcb;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
}

nav a:visited {
  color: navy;
  
}
  .exemplo {
    margin-top: 500px;
    width: 200px;
    height: 200px;
    line-height: 200px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
  }
  
  .exemplo1{
    background-color: blue;
    position: sticky;
    right: 0;
    top:20px;
    z-index: -1;
  }

  
.exemplo2 {
  background-color: green;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1
  
}

.exemplofinal {
  margin-top: 100px;
  background-color: purple;
  position: absolute;
  z-index: -1
}

.exemplointerno {
  margin-top: 100px
  position: sticky;
  transform: translate(50%, 50%);
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: navy;
  z-index: -1
}